#grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-gap: 1vw;
	padding: 1vw;
}

#grid div {
	justify-self: center;
}

img {
	max-width: 400px;
	max-height: 200px;
	object-fit: cover;
	object-position: top;
}

@media only screen and (min-width: 520px) and (max-width: 700px) {
	#grid {
		grid-template-columns: auto auto;
		padding: 2vw;
	}
}

@media only screen and (min-width: 700px) and (max-width: 980px) {
	#grid {
		grid-template-columns: auto auto auto;
		padding: 1vw;
	}
}

@media only screen and (min-width: 980px) and (max-width: 1200px) {
	#grid {
		grid-template-columns: auto auto auto auto;
	}
}

@media only screen and (min-width: 1200px) {
	#grid {
		grid-template-columns: auto auto auto auto auto;
	}
}
